.myName {
    color: white;
    background-color: white;
}

.pages {
    background-color: white;

}

.navbar-brand{
    text-decoration: none;
    color: white;
    background-color: teal;
    padding: 15px;
    margin-top: -8px;
    margin-bottom: -8px;
}
a {
    color: lightslategray;
    text-decoration: none;
    background-color: transparent;
}

.myName2 {
    width: 100%;
    text-align: center;
    color: white;
    background-color: teal;
}
.pages2 {
    margin: auto;
    background: white;
    justify-content: center;
    width: 100%;
}
body {
    background-image: url(../images/45degreee_fabric_@2X.png);
}

   
.aboutMe {
    background-color: white;
    margin-top: 20px;
    min-height: 350px;
    margin-bottom: 150px
}
.mePic {
    float: left;
    margin-right: 10px;
}
.mePic2 {
width: 100%;
}
h3 {
    color: teal;
   
}
.marg {
    margin-bottom: 100px;
}