.header {
    background-color: white;
    
   
   
   
  
}
.name {
    float: left;
    
    background-color: teal;
    color: white;
    
    
}

body {
    background-image: url(/assets/images/45degreee_fabric_@2X.png);
}
.main {
    background-color: white;
    margin-top: 40px;
    padding-top: 10px;
}
.mainHeader {
    color: teal;
}
.navButtons {
display: flex;
align-items: flex-start;
align-items: center;
}
