
.container {
    background-color: white;
    width: 100%;
    text-align: center;
    color: light grey;
    float: right;
   
   }
.box-1 {
    background-color: teal;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: white;
    float: left;
    margin-left: 120px;
    padding: 10px;

}
.right-1 {
    float: right;
    margin-left: 30px;
    margin-right: 60px;
    margin-top: 30px;
}
.right-2 {
    float: right;
    margin-left: 30px;
    margin-top: 30px;
}
.right-3 {
    float: right;
    margin-top: 30px;

}
.main {
    text-align: center;
    border-style: hidden;
    margin-left: 10px;
}
.wrapper {
    float: left;
    border-style: hidden;
    margin-top: 20px;
    margin-left: 120px;
    margin-right: 120px;
    clear: both ;
    background-color: white;
}
h1 {
    margin-left: 25px;
    color: teal;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
   ;
}

.profilePic {
    margin-left: 25px;
    float: left;
    margin-top: 5px;

}
.bottomBox {
    width: 80%;
    height: 50px;
    margin-left: 120px;
    margin-right: 120px;
    border-style: hidden;
    position: relative;
    clear: both;
    background-color: white;

}
body {
    background-image: url("images/45degreee_fabric_@2X.png");
    background-image: repeat;
} 

hr {
    margin-left: 25px;
    margin-right: 25px;
    
}

.Contact {
    margin-bottom: 5px;
  
}